 <nav class="user-nav">
 	<ul>
 		<% if (session.authenticated) { %>
 		<li class="active"><a href="/user/show/<%= session.User.id %>"><%= session.User.name %></a></li>
 		<li class="artist-list"><a href="/artist/list/">Return To Artist List</a></li>
 		<li class="logout"><a href="/session/destroy">Log Out</a></li>
 		<% } else { %>
 		<li class="inactive"><a href="/session/new">Log In</a></li>
 		<% } %>
 </nav>



<form action="/user/update/<%= user.id %>" method="POST" class="user-edit-form">
	<h2>Hey there, you're editing a user...</h2>

	<input value="<%= user.name %>" name="name" type="text" class="control-group"/><br />
	<input value="<%= user.email %>" name="email" type="text" class="control-group" /><br /><br />
	
	<% if (session.authenticated && session.User.admin) { %>
		<% if (user.admin) { %>
			<input type="hidden" name="admin" value="unchecked">
			<label class="checkbox"><input type="checkbox" name="admin" checked>Admin</label><br /><br />
		<% } else { %>
			<input type="hidden" name="admin" value="unchecked">
			<label class="checkbox"><input type="checkbox" name="admin">Admin</label><br /><br />
		<% } %>
	<% } %>


	<input type="submit" value="Proceed" class="create-button"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>