<div class="navbar  navbar-fixed-top">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if (session.authenticated) { %>
              <li class="active"><a href="/user/show/<%= session.User.id %>"><%= session.User.name %></a></li>
              <% } %>
            <% if (session.authenticated && session.User.admin) { %>
              <li><a href="/user">User Admin</a></li>
              <li><a href="/artist/list">Artist Admin</a></li>
          <% } %>
          <% if (session.authenticated) { %>
          <li><a class="btn btn-default navbar-btn navbar-right" href="/session/destroy">SIGN OUT</a></li>
        <% } %>
        </ul>
      </div>
    </div>
</div>



<div class="container" id="artist-list">
	<h3>Users</h3>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Admin</th>
			<th></th>
			<th></th>
		</tr>

		<% _.each(users, function(user){ %>
		<tr data-id="<%= user.id %>" data-model="user">
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<% if (user.admin) { %>
				<td>ADMIN</td>
			<% } else { %>
				<td>X</td>
			<% } %>
			<td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Show</a></td>
			<td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a></td>

			<td><form action="/user/destroy/<%= user.id %>" method="POST">
				<input type="hidden" name="_method" value="delete" />
				<input type="submit" class="btn btn-sm btn-danger" value="Delete" />
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form>
		</td>

		</tr>
		<% }) %>
	</table>
	<a href="/user/new/" class="btn btn-medium btn-primary">Add User</a>
</div>