 <nav class="user-nav">
 	<ul>
 		<% if (session.authenticated) { %>
 		<li class="active"><a href="/user/show/<%= session.User.id %>">You are: <%= session.User.name %></a></li>
 		<li class="logout"><a href="/session/destroy">Log Out</a></li>
 		<% } else { %>
 		<li class="inactive"><a href="/session/new">Log In</a></li>
 		<% } %>
 </nav>
 <div class="return">
 	<a href="/user/">Return To User Menu</a>
 </div>


<div class="show-container">
	<h1><%= user.name %></h1>
	<% if (user.admin) { %>
	<p>Admin</p>
			<% } else { %>
	<p>User</p>
			<% } %>
	<hr>
	<h4>CONTACT: <%= user.email %></h4>


	<a class="edit-button" href="/user/edit/<%= user.id %>">Edit</a>
	<form action="/user/destroy/<%= user.id %>" method="POST">
				<input type="hidden" name="_method" value="delete" />
				<input type="submit" class="edit-screen-delete" value="Delete" />
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form>
</div>