
<div id="wrapper">
    <div id="exit" class="exit hidden"></div>

    
    <!-- NAV -->
    <nav>
        <div class="nav-top-left">
            <li><a class="scroll filmlink" href="#">The Film</a></li>
        </div>
        <div class="nav-top-center">
            <li><a class="scroll booklink" href="#">The Book</a></li>
        </div>

    </nav>


    <!-- NAV BOTTOM -->
    <div id="nav-bottom">
        <div class="nav-left">
            <li><a class="scroll aboutlink" href="#">About</a></li>
        </div>
        <div class="logo">
            <a class="titlelink" href="http://www.redbullmusicacademy.com" target="blank">.COM</a>
        </div>
    </div>

    <!-- HERO BACKGROUND PICTURE -->
    <section id="title">

        <img src="images/landing-text-final.svg" itemprop="image" />

    </section>

    <div id="pointer">
        <!-- CHANGE TO PNG FOR STATIC -->
        <a href="#">
        <p>Watch Now</p>

        <img class="pointer" src="images/pointer.svg"/></a>
    </div>

    <section id="countdown-container">
        <iframe src="http://okfoc.us/rbma-countdown/dist/index-unbranded.html" frameborder="0" border="0" width="100%" height="100%"></iframe>
    </section>


    <section id="download">
        <a name="download"></a>
        <h1>Download The Film</h1>
        <h3><em>Right click and 'Save Link As...'</em></h3>
        <div class="download-left">
            <a target="blank" onClick="ga('send', 'event', 'Download', 'SD Download')" href="https://s3.amazonaws.com/RBMAFilm/What+Difference+Does+It+Make%3F+A+Film+About+Making+Music+SD"><h2>Standard</h2></a>
        </div>
        <div class="download-right">
            <a href="#"><h2>High Def</h2></a>
        </div>
        <div class="download-share">
            <a href="http://twitter.com/home?status=What Difference Does It Make? A feature-length film about making music. Stream and download it here. http://www.rbma15.com" target="blank"><img class="social-white" src="images/twitter-w.png"></a>

            <!--FACEBOOK-->
            <a href="#"><img class="fb-button" src="images/facebook-w.png"></a>
            <iframe class="fb-like" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Frbma15.com&amp;width=200px&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>

            <!--GOOGLE-->
            <a href="https://plus.google.com/share?url=http://www.rbma15.com/" target="blank" rel="author"><img class="social-white" src="images/google-w.png"></a>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox"
            addthis:url="http://rbma15.com" addthis:title="What Difference Does It Make? A Film About Making Music. Grab the free download.">
                <a class="addthis_button_email"><img src="images/email.png" alt="email this" /></a>
            </div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52fcfbb11c460f6f">


        </script>
        <!-- AddThis Button END -->
        </div>
    </section>




    <!-- OFF SCREEN BOOK IFRAME -->
    <section id="bookframe">
        <iframe src="/book" width="100%" height="100%" border="0"></iframe>
    </section>

    <div id="go-home"></div>


    <!-- Artist Box -->
    <div id="artist-info">
        

        <!-- Inject image -->
        <div class='assets'><img src="#" /></div>

        <div class="next-artist"><a id="next-artist" href="#"><img src="images/arrow-r.svg"></a></div>
        <div class="prev-artist"><a id="prev-artist" href="#"><img src="images/arrow-l.svg"></a></div>

        <h1><span itemprop="actor" class="insert-name"></span></h1>
        <!-- Insert Artist Bio-->
        <% _.each(artists, function(artist){ %>

        <p class="bio <%= artist.nickname + '-bio' %>"><%- artist.bio %></p>

        <div class="links">
            <ul class="<%= artist.nickname + '-links' %>">
                <% if (artist.lecture){ %>
                <li>
                    <a href="<%= artist.lecture %>" target="blank"><img src="images/play.gif" /></a>

                    <a href="<%= artist.lecture %>" target="blank">Watch Lecture</a>
                </li>
                <% } if (artist.radio) { %>
                <li>
                    <a href="<%= artist.radio %>" target="blank"><img src="images/play.gif" /></a>
                    <a href="<%= artist.radio %>" target="blank">RBMA Radio Show</a>
                </li>
                <% } if (artist.magazine) { %>
                <li>
                    <a href="<%= artist.magazine %>" target="blank"><img src="images/read.gif" /></a>
                    <a href="<%= artist.magazine %>" target="blank">RBMA Feature</a>
                </li>
                <% } if (artist.website) { %>
                <li>
                    <a href="<%= artist.website %>" target="blank"><img src="images/www.svg" /></a>
                    <a href="<%= artist.website %>" target="blank">On The Web</a>
                </li>
                <% } %>
            </ul>
        </div> <!-- END LINKS -->
        <% }) %> <!-- END EACH -->
    </div><!-- End artist info -->




    <!-- ARTIST SECTION -->
    <div id="artist">
        <span id="artistlink"></span>
        
        <div class="artist-list">
            <h1>Cast</h1>
            <ul>
                <% _.each(artists, function(artist){ %>
                <a data-name="<%= artist.name %>" href="#" data-pic="<%= artist.nickname %>">
                    <li><%= artist.name %></li>
                </a>
                <% }) %>
            </ul>
        </div>

        <!-- Picture on rollover -->
        <div class="artist-images">
            <% _.each(artists, function(artist){ %>
            <img data-pic="<%= artist.nickname %>" class="<%= artist.nickname %>"src="<%='/images/artist/' + artist.nickname + '.jpg'%>" alt="<%= artist.name %>">
            <% }) %>
        </div>
    </div> <!-- END ARTIST -->




    <!-- ABOUT SECTION -->
    <div id="about">
        <span id="aboutlink"></span>
        <!--  ABOUT TEXT -->
        <div class="about-section">
            <h1>About</h1>
                <p><a href="http://www.redbullmusicacademy.com" itemprop="creator" target="blank"><strong>Red Bull Music Academy</strong></a> has put together myriad projects to mark its 15th anniversary, chief among them a film and a book.
                <br /><br />

                <em><span itemprop="name">What Difference Does It Make? A Film About Making Music</span></em> explores the challenges that a life in music can bring. Shot at the 2013 Red Bull Music Academy in New York by award-winning director <a href="http://www.ralfschmerberg.de/home" target="blank" itemprop="director">Ralf Schmerberg</a>, and produced by his Berlin based artist collective <a href="http://mindpirates.org/verein/" target="blank" itemprop="producer">Mindpirates</a>, <em>What Difference Does It Make? A Film About Making Music</em> delves deeply into the many challenges, stages of development and triumphs that musicians experience. Featuring the likes of <span itemprop="actor">Brian Eno</span>, <span itemprop="actor">Giorgio Moroder</a>, <span itemprop="actor">Nile Rodgers</a>, <span itemprop="actor">Skream</span>, <span itemprop="actor">Richie Hawtin</a> and <span itemprop="actor">James Murphy</a>, it seeks to go beyond just music, and ask questions about life itself.
                <br /><br />

                The book, <em>For The Record</em>, pairs up artists like Nile Rodgers, Erykah Badu and Lee ‘Scratch’ Perry for 15 wide-ranging and expansive conversations that touch on an array of topics – live performance, instruments/interfaces, conceptualism and drumming among them. In addition to the conversations, top music journalists – including Philip Sherburne, Joe Muggs, Jeff ‘Chairman’ Mao and Sheryl Garratt – contribute essays about each of the personalities included. Together with stunning visual design by Chris Rehberger’s <a href="http://www.doublestandards.net/website/index.php" target="blank">Double Standards agency</a>, the results make for one of the most insightful publications on the current state of music and the music industry.
                <br /><br />

                <em><strong>What Difference Does It Make?</strong></em> will premiere around the globe on February 17, with a digital release on February 18
                <br/><br/>

                <em><strong>For The Record</strong></em> is currently <a href="http://shop.gestalten.com/rbma.html" target="blank">available through Gestalten</a></p>
        </div> <!-- END ABOUT MAIN TEXT -->
            
        <!-- BOTTOM LOGO -->
        <div class="logo">
            <a href="http://www.redbullmusicacademy.com" target="blank">
            <img class="bottom-logo-white" src="images/logo.svg" /></a>
        </div>

        <!-- SOCIAL -->
        <div class="social">
            <!--TWITTER-->
            <a href="http://twitter.com/home?status=What Difference Does It Make? A feature-length film about making music. Play it. http://www.rbma15.com" target="blank"><img class="social-white" src="images/twitter-w.png"></a>

            <!--FACEBOOK-->
            <a href="#"><img class="social-white fb-button" src="images/facebook-w.png"></a>
            <iframe class="fb-like" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Frbma15.com&amp;width=200px&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>

            <!--GOOGLE-->
            <a href="https://plus.google.com/share?url=http://www.rbma15.com/" target="blank" rel="author"><img class="social-white" src="images/google-w.png"></a>
        </div><!-- END SOCIAL -->
    </div> <!-- END ABOUT ID -->


</div> <!-- END WRAPPER -->

        
