<div id="loading">
  <img id="loading-image" src="images/loading.gif" alt="Loading..." />
</div>

<div id="wrapper">
    <div id="exit" class="exit hidden"></div>

    
    <!-- NAV ICON -->
    <div id="nav-burger">
        <a href="#" class="addNav"><img class="white" src="images/up.svg" /></a>
    </div>

    <div id="nav-down">
        <a href="#" class="addNav"><img class="white" src="images/down.svg" /></a>
    </div>
    
    <!-- NAV -->
    <nav>
        <div class="nav-top-left">
            <li><a class="scroll filmlink" href="#">The Film</a></li>
        </div>
        <div class="nav-top-center">
            <li><a class="scroll booklink" href="#">The Book</a></li>
        </div>

    </nav>


    <!-- NAV BOTTOM -->
    <div id="nav-bottom">
        <div class="nav-left">
            <li><a class="scroll aboutlink" href="#">About</a></li>
        </div>
        <div class="logo">
            <a class="titlelink" href="http://www.redbullmusicacademy.com" target="blank">.COM</a>
        </div>
    </div>

    <!-- HERO BACKGROUND PICTURE -->
    <section id="title">
        <img src="images/text.svg">
    </section>

    <div id="pointer">
        <!-- CHANGE TO PNG FOR STATIC -->
        <a href="#"><img class="pointer" src="images/pointer.png"/></a>
        <!-- <a href="#"><img class="pointer" src="images/pointer.gif"/></a> -->
    </div>


    <!-- COUNTDOWN -->
    <section id="countdown-container">
        <h1>Digital Release February 18 2014</h1>
        <h2>Crappy Countdown Placeholder</h2>
        <div id="countdown"></div>
        <div id="player"></div>
    </section>

    <!-- FILM SECTION -->
    <section id="film">
        <span id="filmlink"></span>
        <div class="text">
            <img src="images/play_w.png" id="play-button" />
            <h1>WATCH THE TRAILER</h1>
            
            
        </div>

        <div class="film-wrap" id="loop">
            <video id="video" class="film-wrap" autoplay muted loop>
                <source src="images/Dance2.mp4" type="video/mp4">
                <source src="images/Dance2.webmhd.webm" type="video/webm">
                <p>Your browser doesn't support HTML5 video.</p>
            </video>
        </div>

        <div class="film-wrap" id="embed">
            <iframe frameborder="0" scrolling="no" seamless="seamless" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" id="rbmaplayer" width="640" height="360" src="http://www.youtube.com/embed/uVzx_p_DrL8?enablejsapi=1&amp;origin=*&amp;autoplay=0&amp;playsinline=1&amp;loop=1&amp;hd=1&amp;controls=0&amp;showinfo=1&amp;modestbranding=0&amp;iv_load_policy=3&amp;rel=0"></iframe>
        </div>
    </section> <!-- END FILM -->


    <!-- OFF SCREEN BOOK IFRAME -->
    <section id="bookframe">
        <iframe src="/book" width="100%" height="100%" border="0"></iframe>
    </section>


    <!-- Artist Box -->
    <div id="artist-info">
        <div class="go-home"></div>

        <!-- Inject image -->
        <div class='assets'><img src="#" /></div>

        <h1><span class="insert-name"></span></h1>
        <!-- Insert Artist Bio-->
        <% _.each(artists, function(artist){ %>

        <p class="bio <%= artist.nickname + '-bio' %>"><%- artist.bio %></p>

        <div class="links">
            <ul class="<%= artist.nickname + '-links' %>">
                <% if (artist.lecture){ %>
                <li>
                    <a href="<%= artist.lecture %>" target="blank"><img src="images/play.gif" /></a>

                    <a href="<%= artist.lecture %>" target="blank">Watch Lecture</a>
                </li>
                <% } if (artist.radio) { %>
                <li>
                    <a href="<%= artist.radio %>" target="blank"><img src="images/play.gif" /></a>
                    <a href="<%= artist.radio %>" target="blank">RBMA Radio Show</a>
                </li>
                <% } if (artist.magazine) { %>
                <li>
                    <a href="<%= artist.magazine %>" target="blank"><img src="images/read.gif" /></a>
                    <a href="<%= artist.magazine %>" target="blank">RBMA Feature</a>
                </li>
                <% } if (artist.website) { %>
                <li>
                    <a href="<%= artist.website %>" target="blank"><img src="images/www.svg" /></a>
                    <a href="<%= artist.website %>" target="blank">On The Web</a>
                </li>
                <% } %>
            </ul>
        </div> <!-- END LINKS -->
        <% }) %> <!-- END EACH -->
    </div><!-- End artist info -->




    <!-- ARTIST SECTION -->
    <div id="artist">
        <span id="artistlink"></span>
        
        <div class="artist-list">
            <h1>Cast</h1>
            <ul>
                <% _.each(artists, function(artist){ %>
                <a data-name="<%= artist.name %>" href="#" data-pic="<%= artist.nickname %>">
                    <li><%= artist.name %></li>
                </a>
                <% }) %>
            </ul>
        </div>

        <!-- Picture on rollover -->
        <div class="artist-images">
            <% _.each(artists, function(artist){ %>
            <img data-pic="<%= artist.nickname %>" class="<%= artist.nickname %>"src="<%='/images/artist/' + artist.nickname + '.jpg'%>" alt="<%= artist.name %>">
            <% }) %>
        </div>
    </div> <!-- END ARTIST -->




    <!-- ABOUT SECTION -->
    <div id="about">
        <span id="infolink"></span>
        <!--  ABOUT TEXT -->
        <div class="about-section">
            <h1>About</h1>
                <p><a href="http://www.redbullmusicacademy.com" target="blank"><strong>Red Bull Music Academy</strong></a> has put together myriad projects to mark its 15th anniversary, chief among them a film and a book.
                <br /><br />

                <em>What Difference Does It Make? A Film About Making Music</em> explores the challenges that a life in music can bring. Shot at the 2013 Red Bull Music Academy in New York by award-winning director <a href="http://www.ralfschmerberg.de/home" target="blank">Ralf Schmerberg</a>, and produced by his Berlin based artist collective <a href="http://mindpirates.org/verein/" target="blank">Mindpirates</a>, <em>What Difference Does It Make? A Film About Making Music</em> delves deeply into the many challenges, stages of development and triumphs that musicians experience. Featuring the likes of Brian Eno, Giorgio Moroder, Nile Rodgers, Richie Hawtin and James Murphy, it seeks to go beyond just music, and ask questions about life itself.
                <br /><br />

                The book, <em>For The Record</em>, pairs up artists like Nile Rodgers, Erykah Badu and Lee ‘Scratch’ Perry for 15 wide-ranging and expansive conversations that touch on an array of topics – live performance, instruments/interfaces, conceptualism and drumming among them. In addition to the conversations, top music journalists – including Philip Sherburne, Joe Muggs, Jeff ‘Chairman’ Mao and Sheryl Garratt – contribute essays about each of the personalities included. Together with stunning visual design by Chris Rehberger’s <a href="http://www.doublestandards.net/website/index.php" target="blank">Double Standards agency</a>, the results make for one of the most insightful publications on the current state of music and the music industry.
                <br /><br />

                <em><strong>What Difference Does It Make?</strong></em> will premiere around the globe on February 17, with a digital release on February 18
                <br/><br/>

                <em><strong>For The Record</strong></em> is currently <a href="http://shop.gestalten.com/rbma.html" target="blank">available through Gestalten</a></p>
        </div> <!-- END ABOUT MAIN TEXT -->
            
        <!-- BOTTOM LOGO -->
        <div class="logo">
            <a href="http://www.redbullmusicacademy.com" target="blank">
            <img class="bottom-logo-white" src="images/rbma-logo.png" /></a>
        </div>

        <!-- SOCIAL -->
        <div class="social">
            <!--TWITTER-->
            <a href="http://twitter.com/home?status=What Difference Does It Make? A feature-length film about making music. Play it. http://rbma15.com" target="blank"><img class="social-white" src="images/twitter-w.png"></a>

            <!--FACEBOOK-->
            <a href="#"><img class="social-white fb-button" src="images/facebook-w.png"></a>
            <iframe class="fb-like" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Frbma15.com&amp;width=200px&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>

            <!--GOOGLE-->
            <a href="https://plus.google.com/share?url=http://rbma15.com/" target="blank"><img class="social-white" src="images/google-w.png"></a>
        </div><!-- END SOCIAL -->
    </div> <!-- END ABOUT ID -->




</div> <!-- END WRAPPER -->

        
