<div id="wrapper">
            <h1><span id="insert-name">Featured Artists</span></h1>
            <div class="artists">

                <ul>

                    <% _.each(artists, function(artist){ %>
                        <li><a href="#"><img data-pic="<%= artist.nickname %>"
                            data-name="<%= artist.name %>" src="<%= '/images/artist/' + artist.nickname + '.jpg'%>"></a></li>
                    <% }) %>

                    
            </div>
        </div>
        <div id="artist-info">
            <div class="exit hidden">X</div>
            <h1><span class="insert-name"></span></h1>
            <% _.each(artists, function(artist){ %>
            <p class="bio <%= artist.nickname + '-bio' %>"><%= artist.bio %></p>
            <% }) %>
            <div class='assets'>
                <img src="#" />
            </div>
            <div class="links">
                <ul>
                    <li><a href="#">Watch Lecture</a></li>
                    <li><a href="#">Play RBMA Radio Show</a></li>
                    <li><a href="#">Read RBMA Feature</a></li>
                    <li><a href="#">On The Web</a></li>
                </ul>
            </div>
        </div> <!--OUTSIDE OF WRAPPER-->

