<div id="wrapper">
    <h1><span id="insert-name">Featured Artists</span></h1>

    <!--  List of artists -->
    <div class="artists">
        <ul>
            <% _.each(artists, function(artist){ %>
            <li><a data-name="<%= artist.name %>" href="#" data-pic="<%= artist.nickname %>"><%= artist.name %></a></li>
            <% }) %>
        </ul>
    </div>


    <!-- Picture on rollover -->
    <div class="artist-images">
        <% _.each(artists, function(artist){ %>
        <img data-pic="<%= artist.nickname %>" class="<%= artist.nickname %>"src="<%='/images/artist/' + artist.nickname + '.jpg'%>">
        <% }) %>
    </div>

    <!-- Box sliding left -->
    <div id="artist-info">
        <div class="exit hidden">X</div>
        <h1><span class="insert-name"></span></h1>
        <!-- Insert Artist Title And Bio-->
            <% _.each(artists, function(artist){ %>
            <h2 class="title <%= artist.nickname + '-title' %>"><%= artist.title %></h2>
            <p class="bio <%= artist.nickname + '-bio' %>"><%= artist.bio %></p>
            <% }) %>

        <!-- Inject image -->
        <div class='assets'>
            <img src="#" />
        </div>
            
        <!-- Inject links -->
        <div class="links">
            <ul>
                <li><a href="#">Watch Lecture</a></li>
                <li><a href="#">Play RBMA Radio Show</a></li>
                <li><a href="#">Read RBMA Feature</a></li>
                <li><a href="#">On The Web</a></li>
            </ul>
        </div>
    </div><!-- End artist info -->
</div> <!--OUTSIDE OF WRAPPER-->

