<div id="wrapper">
    <a href="/"><div id="return"></div></a>
<!--     <h1><span id="insert-name">Featured artists</span></h1> -->




    <!--  List of artists -->
    <div class="artists">
        <ul>
            <% _.each(artists, function(artist){ %>
            <a data-name="<%= artist.name %>" href="#" data-pic="<%= artist.nickname %>">
            <li>
                <%= artist.name %>
            </li>
        </a>
            <% }) %>
        </ul>
    </div>


    <div id="list-page">

    <!-- Picture on rollover -->
    <div class="artist-images">
        <% _.each(artists, function(artist){ %>
        <img data-pic="<%= artist.nickname %>" class="<%= artist.nickname %>"src="<%='/images/artist/' + artist.nickname + '.jpg'%>" alt="<%= artist.name %>">
        <% }) %>
    </div>

    <div class="foot-left">
        <h2>What difference does it make?</h2>
    </div>
    <div class="foot-right">
        <h2>A film about making music</h2>
    </div>
</div> <!-- END LIST PAGE -->

 


    <!-- Box sliding left -->
    <div id="artist-info">
        <div id="exit" class="exit hidden">
        </div>
        <!-- Inject image -->
        <div class='assets'>
            <img src="#" />
        </div>
        <h1><span class="insert-name"></span></h1>
        <!-- Insert Artist Title And Bio-->
            <% _.each(artists, function(artist){ %>
            
            <h2 class="title <%= artist.nickname + '-title' %>"><%= artist.title %></h2>
            

            <p class="bio <%= artist.nickname + '-bio' %>"><%= artist.bio %></p>
            

            <div class="links">
                <ul class="<%= artist.nickname + '-links' %>">
                    <% if (artist.lecture){ %>
                        <li>
                            <a href="<%= artist.lecture %>" target="blank"><img src="images/play.gif" /></a>

                            <a href="<%= artist.lecture %>" target="blank">Watch Lecture</a>
                        </li>
                    <% } if (artist.radio) { %>
                        <li>
                            <a href="<%= artist.radio %>" target="blank"><img src="images/play.gif" /></a>
                            <a href="<%= artist.radio %>" target="blank">RBMA Radio Show</a>
                        </li>
                    <% } if (artist.magazine) { %>
                        <li>
                            <a href="<%= artist.magazine %>" target="blank"><img src="images/read.gif" /></a>
                            <a href="<%= artist.magazine %>" target="blank">RBMA Feature</a>
                        </li>
                    <% } if (artist.website) { %>
                        <li><a href="<%= artist.website %>" target="blank">On The Web</a></li>
                    <% } %>
                </ul>
            </div>
            
            <% }) %>

        
            
        <!-- Inject links -->
    </div><!-- End artist info -->
</div> <!--OUTSIDE OF WRAPPER-->

