 <nav class="user-nav">
 	<ul>
 		<% if (session.authenticated) { %>
 		<li class="active"><a href="/user/show/<%= session.User.id %>"><%= session.User.name %></a></li>
 		<li class="artist-list"><a href="/artist/list/">Return To Artist List</a></li>
 		<li class="logout"><a href="/session/destroy">Log Out</a></li>
 		<% } else { %>
 		<li class="inactive"><a href="/session/new">Log In</a></li>
 		<% } %>
 </nav>


<div class="show-container">
	<h1><%= artist.name %></h1>

	<h3>Role: <%= artist.title %></h3>
	<h3>Pic Id: <%= artist.nickname %></h3>
	<h3>Bio:</h3>
	<p><%= artist.bio %></p>
	<h3>LECTURE: <a href="<%= artist.lecture %>"><%= artist.lecture %></a></h3>
	<h3>RADIO: <a href="<%= artist.radio %>"><%= artist.radio %></a></h3>
	<h3>FEATURE: <a href="<%= artist.magazine %>"><%= artist.magazine %></a></h3>
	<h3>WEBSITE: <a href="<%= artist.website %>"><%= artist.website %></a></h3>

	<img class="show-image" src="<%='/images/artist/' + artist.nickname + '.jpg'%>">




	<a class="edit-button edit-screen" href="/artist/edit/<%= artist.id %>">Edit</a>
</div>

