<tr data-id="<%= user.id %>" data-model="user">
			<% if (user.online) { %>
				<td><img src="/images/icon-online.png" class="user-icon"></td>
			<% } else { %>
				<td><img src="/images/icon-offline.png" class="user-icon"></td>
			<% } %>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<% if (user.admin) { %>
				<td>ADMIN</td>
			<% } else { %>
				<td>X</td>
			<% } %>
			<td><a href="/user/show/<%= user.id %>" class="show-button">Show</a></td>
			<td><a href="/user/edit/<%= user.id %>" class="edit-button">Edit</a></td>

			<td><form action="/user/destroy/<%= user.id %>" method="POST">
				<input type="hidden" name="_method" value="delete" />
				<input type="submit" class="btn btn-sm btn-danger" value="Delete" />
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form>
		</td>

		</tr>